<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


<div id="map_view">
  <div>
    <h1 style="margin-top:30px; margin-bottom:30px;"><b>내 주변 코인노래방</b></h1>
    <div id="map" style="width:100%;height:600px;"></div>
    <div id="console" style="width:500px; border:5px; font-size:20px"></div>
  </div>
</div>

<div id="content">
  <% @infoHashArray.each do |i| %>
    <%=i%> <br>
  <% end %>
</div>
<!-- Modal Structure -->

<div class="modal_infos">
</div>

<script type="text/javascript">
  $(document).ready(function() {
    showMap();
  });
  function showMap() {
    var markers = [];
    var infoWindows = [];
    var modalArray = [];

    var lat = '<%=@currentLat%>';
    var lng = '<%=@currentLng%>';
    console.log("In Javascript pos : "+lat +","+ lng);
    // Map Setting
    var mapOptions = {
      center: new naver.maps.LatLng(lat, lng),
      zoom: 12
    };
    var map = new naver.maps.Map('map', mapOptions);
    // 현재 위치 표시
    var currentMarkerOptions = {
      position: new naver.maps.LatLng(lat, lng),
      map : map,
      icon: {
        url: 'http://static.naver.net/maps/v3/pin_default.png',
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
      }
    };
    var currentMarker = new naver.maps.Marker(currentMarkerOptions);
    // 검색 결과 루프
    '<% @infoHashArray.each_with_index do |i, index| %>'
      var pos = new naver.maps.LatLng('<%= i.as_json['lat'] %>', '<%= i.as_json['lng'] %>');
      // console.log("lat : " + '<%= i.as_json['lat'] %>' + " , lon : " + '<%= i.as_json['lng'] %>');
      // Marker
      var markerOptions = {
        position: pos,
        map : map,
        icon: {
          url: 'http://static.naver.net/maps/v3/pin_default.png',
          size: new naver.maps.Size(22, 35),
          anchor: new naver.maps.Point(11, 35)
        }
      };
      var marker = new naver.maps.Marker(markerOptions);
      // modal
      var title = '<%= i.as_json['title'] %>';
      var address = '<%= i.as_json['address'] %>';
      var modal_id = 'modal' + '<%= index+1 %>';

      function modal_trigger(s) {
        var ss = s+1;
        $('#modal'+ss).openModal();
      }

      var modalcontent = [
        '<div class="modal" id="' + modal_id + '" style="background-color: transparent !important; background-clip: padding-box !important; box-shadow: none !important;">',
          '<div class="card small" style="margin: auto 10%; box-shadow: 4px 20px 10px #000 !important;">',
            '<div class="card-image green">',
                '<span class="card-title">Card Title</span>',
            '</div>',
            '<div class="card-content green">',
              '<p>' + title + '<br>' + address + '</p>',
            '</div>',
            '<div class="card-action blue">',
              '<a href="#">This is a link</a>',
            '</div>',
          '</div>',
        '</div>'
      ].join('');


      // 배열에 추가
      markers.push(marker);
      modalArray.push(modalcontent);

    '<% end %>'
    //해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환.
    function getClickHandler(seq) {
        return function(e) {
            var marker = markers[seq],
                modalcontent = modalArray[seq];
                console.log(modalcontent);
                $('.modal_infos').append(modalcontent);
                modal_trigger(seq);

        }
    }


    // 배열들에 담긴 Markers와 InfoWindows에게 핸들러를 세팅
    for (var i=0, ii=markers.length; i<ii; i++) {
        //naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
        naver.maps.Event.addListener(markers[i], "mousedown", getClickHandler(i));
    }
  }
</script>
