<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


<div id="map_view">
  <div>
    <h1 style="margin-top:30px; margin-bottom:30px;"><b>내 주변 코인노래방</b></h1>
    <div id="map" style="width:100%;height:600px;"></div>
    <div id="console" style="width:500px; border:5px; font-size:20px"></div>
  </div>
</div>

<div id="content">
  <% @infoHashArray.each do |i| %>
    <%=i%> <br>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    showMap();
  });

  function showMap() {
    var markers = [];
    var infoWindows = [];

    var lat = '<%=@currentLat%>';
    var lng = '<%=@currentLng%>';
    console.log("In Javascript pos : "+lat +","+ lng);

    // Map Setting
    var mapOptions = {
      center: new naver.maps.LatLng(lat, lng),
      zoom: 12
    };
    var map = new naver.maps.Map('map', mapOptions);

    // 현재 위치 표시

    var currentMarkerOptions = {
      position: new naver.maps.LatLng(lat, lng),
      map : map,
      icon: {
        url: 'http://static.naver.net/maps/v3/pin_default.png',
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
      }
    };
    var currentMarker = new naver.maps.Marker(currentMarkerOptions);

    // 검색 결과 루프
    '<% @infoHashArray.each do |i| %>'
      var pos = new naver.maps.LatLng('<%= i.as_json['lat'] %>', '<%= i.as_json['lng'] %>');
      // console.log("lat : " + '<%= i.as_json['lat'] %>' + " , lon : " + '<%= i.as_json['lng'] %>');

      // Marker
      var markerOptions = {
        position: pos,
        map : map,
        icon: {
          url: 'http://static.naver.net/maps/v3/pin_default.png',
          size: new naver.maps.Size(22, 35),
          anchor: new naver.maps.Point(11, 35)
        }
      };
      var marker = new naver.maps.Marker(markerOptions);

      // Info Window
      var title = '<%= i.as_json['title'] %>';
      var address = '<%= i.as_json['address'] %>';
      var contentString = [
              '<div class="iw_inner">',
              '   <b>'+ title +'</b><br>',
              '   <p>'+address+'</p>',
              '</div>'
          ].join('');

      var infoWindow = new naver.maps.InfoWindow({
          content : contentString,
          maxWidth: 140,
          backgroundColor: "#eee",
          borderColor: "#2db400",
          borderWidth: 5,
          anchorSize: new naver.maps.Size(30, 30),
          anchorSkew: true,
          anchorColor: "#eee",
          pixelOffset: new naver.maps.Point(20, -20)
      });

      // 배열에 추가
      markers.push(marker);
      infoWindows.push(infoWindow);

    '<% end %>'

    // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환.
    function getClickHandler(seq) {
        return function(e) {
            var marker = markers[seq],
                infoWindow = infoWindows[seq];

            if (infoWindow.getMap()) {
                infoWindow.close();
            } else {
                infoWindow.open(map, marker);
            }
        }
    }

    // 배열들에 담긴 Markers와 InfoWindows에게 핸들러를 세팅
    for (var i=0, ii=markers.length; i<ii; i++) {
        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
    }
  }

</script>
