<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <img class="background" src="images/office.jpg">
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


<div id="map_view">
  <div class="container">
    <h1 style="margin-top:30px; margin-bottom:30px;"><b>내 주변 코인노래방</b></h1>
    <div id="map" style="width:100%;height:600px;"></div>

    <div id="console" style="width:500px; border:5px; font-size:20px"></div>

  </div>
</div>

<div id="content">
  <% @resultArrayHash.each do |r| %>
    <%=r%> <br>
  <% end %>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    showMap();
  });
  function showMap() {
    var lat = '<%=@currentLat%>';
    var lng = '<%=@currentLng%>';
    console.log("In Javascript pos : "+lat +","+ lng);
    var mapOptions = {
      center: new naver.maps.LatLng(lat, lng),
      zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);

    '<% @resultArrayHash.each do |r| %>'
      var pos = new naver.maps.LatLng('<%= r.as_json['lat'] %>', '<%= r.as_json['lng'] %>');
      console.log("lat : " + '<%= r.as_json['lat'] %>' + " , lon : " + '<%= r.as_json['lng'] %>');
      var markerOptions = {
        position: pos,
        map : map,
        icon: {
          url: 'http://static.naver.net/maps/v3/pin_default.png',
          size: new naver.maps.Size(22, 35),
          anchor: new naver.maps.Point(11, 35)
        }
      };
      var marker = new naver.maps.Marker(markerOptions);
    '<% end %>'
  }
</script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
