<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <img class="background" src="images/office.jpg">
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


<div id="map_view">
  <div class="container">
    <h1 style="margin-top:30px; margin-bottom:30px;"><b>내 주변 코인노래방</b></h1>
    <div id="map" style="width:100%;height:600px;"></div>

    <div id="console" style="width:500px; border:5px; font-size:20px"></div>

  </div>
</div>

<div id="test">
  <% @resultArrayHash.each do |r| %>
    <%=r%> <br>
  <% end %>
  <br><br><br><br>

  <%= @resultArrayHash.at(0)[:lat]%><br>
  현재 위치 : <%= @currentAddress %><br>
  입력 lat : <%= @currentLat %><br>
  입력 lng : <%= @currentLng %>


</div>


<script type="text/javascript">

  // 현재 위치 정보 알아보는 메소드
  function showData(){
    navigator.geolocation.getCurrentPosition(success, fail);  //현재 위치 정보를 조사하고 성공 실패 했을시 호출되는 함수 설정
  }
  function success(position) { //성공시
    console.log("위치정보 확인 성공!");
    for(var property in position.coords) { //반복문 돌면서 출력
      console.log(property+":"+position.coords[property]);
    }
    var currentLat = position.coords["latitude"];
    var currentLng = position.coords["longitude"];
    console.log(currentLat +","+ currentLng);
    currentLat = currentLat.toString();
    currentLng = currentLng.toString();

    if (currentLat !== null && currentLng !== null) {
      $.ajax({
        url: '/cmap/map',
        type: 'GET',
        dataType: "JSON",
        data: {lat : currentLat, lng : currentLng},
        success: function(res) {
          if (res.ImportResponse !== void 0) {
            console.log('Success: ' + res);
          } else if (res.Fault !== void 0) {
            console.log('Fault: ' + res);
          }
        },
        error: function(request,status,error){
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    } else {
      alert("FUCK");
    }
    //var url="http://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lon+"&sensor=false";
    //location.href = url;//페이지 이동하기
    var mapOptions = {
      center: new naver.maps.LatLng(currentLat, currentLng),
      zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);

    // mark cono
    for (var i=0; i<'<%=@resultArrayHash.size()%>'; i++) {
      var pos = new naver.maps.LatLng('<%=@resultArrayHash.as_json.at(0)['lat']%>', '<%=@resultArrayHash.as_json.at(0)['lng']%>');
      console.log(pos);

      var markerOptions = {
        position: pos,
        map : map,
        icon: {
          url: 'http://static.naver.net/maps/v3/pin_default.png',
          size: new naver.maps.Size(22, 35),
          anchor: new naver.maps.Point(11, 35)
        }
      };
      var marker = new naver.maps.Marker(markerOptions);
    }
  }
  //실패시
  function fail(err){
    switch (err.code){
      case err.PERMISSION_DENIED:
        msg = "사용자 거부";
      break;
      case err.PERMISSION_UNAVAILABLE:
        msg = "지리정보를 얻을 수 없음";
      break;
      case err.TIMEOUT:
        msg = "시간초과";
      break;
      case err.UNKNOWN_ERROR:
        msg = "알 수 없는 오류 발생";
      break;
    }
    log(msg);
  }
  function log(msg){
    var console = document.getElementById("console");
    console.innerHTML += msg+"<br/>";
  }



</script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
