<meta charset="UTF-8">

<h3><b>주소들 출력</b></h3>
<% @address.each do |a| %>
  <%= a.inner_text %>
<% end %>

<br><br><br><br><br>

<h3><b>주소중 첫번째 인자 출력</b></h3>
<%= @address.at(0).inner_text %>

<br><br><br><br><br>

<h3><b>주소의 첫번째 인자의 좌표값 출력</b></h3>
<%= @test %>

<br><br><br><br><br>

<h3><b>주소들 Hash에 담아서 출력</b></h3>
<% @resultArrayHash.each do |r| %>
  <%= r[:title] %> (<%= r[:x] %> , <%= r[:y]%>) <br>
<% end %>
