<div class="container">
  <div class="row">
  <div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/office.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>

<div class="card col s5">
<div class="card-image waves-effect waves-block waves-light">
  <img class="activator" src="images/office.jpg">
</div>
<div class="card-content">
  <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
  <p><a href="#">This is a link</a></p>
</div>
<div class="card-reveal">
  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
  <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>

<div class="card col s4">
<div class="card-image waves-effect waves-block waves-light">
  <img class="activator" src="images/office.jpg">
</div>
<div class="card-content">
  <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
  <p><a href="#">This is a link</a></p>
</div>
<div class="card-reveal">
  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
  <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
</div>
</div>
  <!-- 제목,조회수 -->
  <div class="container">
  <div class="row">
    <div class="col s3">
      <span>글번호 :</span> <%= @post.id %></p>
      <span>제목 :</span> <%= @post.title %></p>
    </div>
    <div class="col offset-s7 s2 center-align">
      <label>조회수: <span><%= @post.hit %> </span></label><br>
      <label> <%= time_ago_in_words(@post.created_at) %> 전 </label>
    </div>
  </div>

  <!-- 작성자,원곡가수,원곡명 -->
  <div class="row">
    <div class="col s2">
      <span>작성자 :</span> <%= @post.user.present? ? @post.user.email : "n/a" %>
    </div>
    <div class="col offset-s4 s3">
      <span>원곡 가수 :</span> <%= @post.singer %>
    </div>
    <div class="col s3">
      <span>원곡명 :</span> <%= @post.song %>
    </div>
  </div>

  <!-- 추천수 -->
  <div class="row">
    <div class="col s7">
     <i class="fa fa-heart" aria-hidden="true"></i> 추천수: <span><%= @post.reconum %></span> &emsp;
    </div>
    <div class="col offset-s3 s2 right">
      <% if user_signed_in? %>
       <%= link_to '수정', edit_path, class: "col s2" if @post.updatable_by? current_user %>&nbsp;
       <%= link_to '삭제', destroy_path, class: "col s2", method: :delete, data: { confirm: 'Are you sure?' } if @post.deletable_by? current_user %>
      <% end %>
    </div>
  </div>

  <!-- Youtube 부분 -->


  <div id="iframetest" style="cursor: pointer;">iframe test </div>
  <% if @post.link_select == 'youtube' %>
  <div class="row" id="goyoutube">

  </div>
  <% else %>
  <div class="row" id="gosoundcloud">

  </div>
  <% end %>
  <!-- 추천을 위한 코드 -->
  <!-- 추천을 위한 코드 -->
      <div class="row reco_btn">
        <div class="col offset-s5 s1 valign center-align">
        <button>
           <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
           <input id="reco_id" value="<%= @post.reconum %>" style="
           margin-bottom: 0px;border-bottom-width: 0px;width: 25px;height: 15px;" readonly="">
        </button>
       </div>
     </div>


   <!-- #버튼 태그# <button type="button" class="btn btn-primary reconum_submit" aria-label="Left Align">
     추천
   </button> -->
<hr style="border: solid 1px lightblue;">
<table class="table highlight">
  <thead>
    <tr>
      <th> 댓글 작성자 </th>
      <th> 댓글 내용 </th>
      <th> 작성 시간 </th>
      <th> 편집 </th>
    </tr>
  </thead>

  <tbody>
    <div>
      <% @post.replies.each do |r| %>
        <tr>

          <td><%= r.email %></td>
          <td><%= r.content %></td>
          <td><%= time_ago_in_words(r.created_at) %> 전</td>

          <td>
            <% if user_signed_in? %>
             <%= link_to '[수정]', reply_edit_path(r.id) if r.email == current_user.email %>
             <%= link_to '[삭제]', reply_destroy_path(r.id),  method: :delete, data: { confirm: '글을 지우시겠습니까?' } if r.email == current_user.email %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr id="reply_<%= @post.id %>"/>
    </div>
  </tbody>
</table>

<div class="form-group" style="margin-top:10px;">
  <input type="hidden" name="id_of_post">
  <textarea class="form-control" name="reply_content" rows="5" id="content_<%= @post.id %>" placeholder="댓글을 입력하세요"></textarea>
<!-- </div> -->

  <button value="<%= @post.id %>" type="submit" class="btn btn-default reply_submit"> 작성 </button>
  <%= link_to '뒤로가기', showme_index_path, class: 'btn btn-default' %>
</div> <!-- container end %-->

<script>


  $(function() {  // 페이지가 다 로딩되면 실행하도록 설정
    SC.initialize({
      client_id: '56700de568277ccc7ab1770ef756a8f8'
    });
    // 넘어온 value 값이 youtube일 경우 youtube embed 삽입 //
    var iftest = '<embed style="width: 100%; height: 500px;" src="https://www.youtube.com/embed/<%=@post.ytb_key%> frameborder="0" allowfullscreen></embed>';
    $('#goyoutube').append(iftest);

    // 넘어온 value 값이 soundcloud일 경우 soundcloud iframe 삽입 //

    var track_url = '<%=@post.sc_link%>'; // 루비 변수로 change 예정
    SC.oEmbed(track_url, { element: document.getElementById('gosoundcloud')}).then(function(oEmbed) {
      console.log('oEmbed response: ', oEmbed);
    });


    });



    // 댓글 작성 AJAX
    $(function() {  // 페이지가 다 로딩되면 실행하도록 설정
      $(".reply_submit").click(function() {

        var post_id = this.value;
        var post_email = '<%= current_user.email %>';
        var post_content = $("#content_" + post_id).val();


        $.ajax({
          method: "POST",
          url: "/showme/reply",
          data: { reply_content: post_content, id_of_post: post_id, reply_email: post_email },
          dataType: 'json',

          success: function(msg) {
            console.log(msg);
            // 댓글 추가
            $("#reply_" + post_id).append(

                '  <td>' +post_email +'</td>' +
                '  <td>'+ post_content+'</td>' +
                '  <td>	less than a minute 전</td>'+
                '  <td>'+
                '<%= link_to '[수정]', reply_edit_path(@post.replies.last.id+1)%>'+
                '<%= link_to ' [삭제]', reply_destroy_path(@post.replies.last.id+1), method: :delete, data: { confirm: '글을 지우시겠습니까?' } %>'+
                '</td>'+
                '</tr>'
              );
            }

            $("#content_" + post_id).val("");
            alert("리플이 작성되었습니다." +'<%= @post.replies.last.id %>');
          },
          error: function(err) {
            console.log(err);
            alert("리플이 작성되지 않았습니다." + post_content + post_id + post_email);
          }
        });
      });
    });




  $(function() {  // 페이지가 다 로딩되면 실행하도록 설정
    $(".reco_btn").click(function() {
      reco = '<%= @post.reconum %>';

      $.ajax({
        method: "GET",
        url: "/reconum/<%= @post.id %>",
        data: { reconum: reco},

        success: function() {
          var i = 0;

          "<% Recommend.all.each do |r| %>"
            "<% if r.post_id == @post.id %>"
              "<% if r.email == current_user.email %>"
                i = 1
              "<% end %>"
            "<% end %>"
          "<% end %>"

          "<% if current_user.email == @post.user.email%>"
            alert("자신의 글은 추천 불가");
          "<% else %>"
            if(i == 0){
              $("#reco_id").val('<%= @post.reconum+1 %>');
              alert("추천 성공");
            }
            else{
              alert("이미 추천 하였습니다.");
            }
          "<% end %>"


        },
        error: function() {

          alert("실패");
        }
      });
    });
  });
</script>
